@import '_reset.css';

/* Header section */
.app__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
    text-transform: uppercase;
    height: 6rem;
}

.logo {
    flex: 0 0 20rem;
}

.logo__text {
    color: #fff;
}

.navigation {
    font-size: 1.3rem;
    font-weight: bolder;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    padding: 1rem;
    display: block;
    color: #eee;
}

.navigation__link:hover {
    color: #ddd;
}

.app__main {
    background-color: #fff;
    margin: 0 6rem;
    padding: 2rem 4rem;
    min-height: 90vh;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search__input {
    width: 40%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #ddd;
}

.search__btn {
    outline: none;
    border: none;
    padding: 1rem;
    cursor: grabbing;
    transition: transform .2s;
}

.search__btn:focus {
    transform: scale(1.05);
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    
}

.secondary__heading {
    color: #777;
    margin-top: 1rem;
}

.movie__section {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin: .5rem;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.info {
    font-size: 1.2rem;
    background-color: var(--color-secondary);
    color: #fff;
    padding: .1rem .4rem;
    border-radius: 3px;
}

.movie__coverImage {
    width: 100%;
}

.card__footer {
    font-size: 1.2rem;
}

.movie__description {
    margin-bottom: 1rem;
}

.property {
    color: #777;
}

.movie__btn {
    background-color: var(--color-primary);
    color: #fff;
    width: 100%;
    /* text-transform: uppercase; */
    border: none;
    outline: none;
    border-radius: 4px;
    margin: .5rem 0;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: transform .3s;
    margin-bottom: 2rem;
}

.movie__btn:hover {
    background-color: #d33b2a;
}

.movie__btn:active {
    transform: scale(1.1)
}

.app__footer {
    margin-top: 4rem;
    width: 100%;
    min-height: 10rem;
    background-color: var(--color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text--main {
    letter-spacing: .5rem;
    font-size: 32px;
    color: #ccc;
}

.footer__text--sub {
    letter-spacing: 1rem;
    color: #fff;
}

@media only screen and (max-width: 75em) {
    .card {
        width: 30%;
    }

    .search__input {
        width: 50%;
    }

    .app__main {
        margin: 0 6rem;
        padding: 2rem;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        
    }
}

@media only screen and (max-width: 58em) {
    body {
        font-size: 1.4rem;
    }

    .card {
        width: 45%;
    }

    .search__input {
        width: 50%;
    }

    .app__main {
        margin: 0 6rem;
        padding: 2rem 4rem;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        
    }

    .card__footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 38em) {
    .search__input {
        width: 70%;
    }

    .card {
        width: 90%;
        align-self: center;
        margin: 0 auto;
    }
    .card__footer {
        font-size: 1.2rem;
    }
}